@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900)



//colors
$orange: #FF4F00
$gray: #4F4E4F
$overlay: rgba(0,0,0,0.13)
$shadow: rgba(0,0,0,0.21)
a
	text-decoration: none
	color: white
*
	box-sizing: border-box
h1,h2,h3,h4,h5,h6
	margin: 0
body
	margin: 0
	height: 100vh
	width: 100vw
	background: $gray
	font-family: 'Lato', sans-serif
	color: white

.fill
	height: 100%
	width: 100%
.vwpt
	height: 100vh
	width: 100vw
.flx
	display: flex
	flex-direction: column
	
	&.grw
		>*
			flex-grow: 1
.flx.media
	@media (min-width: 850px)
		flex-direction: row

.fw100
	font-weight: 100
.fw300
	font-weight: 300
.fw400
	font-weight: 400
.sh-h
	box-shadow: 0px 16px 38px $shadow
.hidden
	opacity: 0
	transition: opacity 0.3s ease
.show
	opacity: 1
.wrap
	height: 100vh
	width: 100vw
	overflow-x: hidden
	overflow-y: scroll /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch
	@extend .sh-h

	.bg
		position: relative
		height: 500vh
		background: linear-gradient($orange, $orange 50%, $gray 50%)
		background-size: 100vw 200vh
		.bg-about
			@extend .vwpt
			position: fixed
			top: 0px
			background: url('../img/photo2.jpg')
			background-size: cover
			background-repeat: no-repeat
			background-position: top
			
		.bg-splash
			position: absolute
			z-index: 2
			@extend .vwpt
			background: $orange
			&:first-of-type
				top: 0
			&:nth-of-type(5n)
				top: 200vh
				background: $orange
			&:nth-of-type(3n)
				top: 300vh
				background: $gray
			&:nth-of-type(4n)
				top: 400vh
				background: $gray
		.origami
			position: fixed
			transform: translateY(-42vw)
			z-index: 2
			@extend .fill
			
			.left, .right
				position: absolute
				width: 142vw
				height: 142vw
				background: $orange
				@extend .sh-h
				@media (min-width: 450px)
					height: 100vw
					width: 100vw
			.left
				z-index: 2
				transform: rotate(-45deg) 
				transform-origin: left bottom
			.right
				right: 0
				z-index: 3
				transform: rotate(45deg) 
				transform-origin: right bottom
.scroll
	a
		font-size: 2rem
		margin-top: 1em
#nav
	background: $orange
	position: fixed
	width: 60px
	height: 60px
	bottom: 15px
	right: 15px
	z-index: 5
	border-radius: 50%
	@extend .sh-h
	@extend .flx
	justify-content: space-between
	align-items: center
	padding: 12px
	transition: all 0.3s ease
	transform: rotate(0deg)
	*
		transition: all 0.3s ease
	span
		z-index: 2
		background: white
		width: 36px
		height: 6px
		&:nth-of-type(1n)
			transform: translateY(250%) rotate(45deg)
		&:nth-of-type(2n)
			opacity: 0
		&:nth-of-type(3n)
			transform: translateY(-250%) rotate(-45deg) 
	a
		position: absolute
		z-index: -1
		right: 50%
		top: 40%
		margin-right: 50px
		transform-origin: 115px
		font-size: 1.3rem
		&:nth-of-type(1n)
			transform: rotate(90deg)
		&:nth-of-type(2n)
			transform: rotate(60deg)
		&:nth-of-type(3n)
			transform: rotate(30deg)
		&:nth-of-type(4n)
			transform: rotate(0deg)
	&.close
		transition: all 0.3s ease
		transform: rotate(-180deg)
		*
			transition: all 0.3s ease
		a
			transform: rotate(0deg)
		span
			&:nth-of-type(1n)
				transform: translateY(0) rotate(0)
			&:nth-of-type(2n)
				opacity: 1
			&:nth-of-type(3n)
				transform: translateY(0) rotate(0) 


.sections
	position: relative
	z-index: 3
	padding: 15px
	@extend .vwpt
#splash
	justify-content: flex-end
	align-items: center
	text-align: center
	@extend .flx
	@extend .media
	@media (min-width: 850px)
		justify-content: center
	.logo
		max-width: 800px

		img
			width: 100%
	.info
		*
			margin-top: 1em
			display: block

#about
	padding: 5px 15px
	.info
		text-align: right
		@media (min-width: 850px)
			font-size: 2.3vw
	.yelp
		position: absolute
		bottom: 15px
		left: 15px
		width: 100%
		animation: bounce infinite 2s
		max-width: 500px
		img
			width: 50%
#team
	overflow: hidden
	padding: 0
	.people
		height: 100%
		width: 210vw
		transition: transform 0.3s ease
		display: flex
		.person
			text-align: center
			@extend .flx
			justify-content: center
			align-items: center
			@media (min-width: 850px)
				flex-direction: row
				align-items: center
				justify-content: center
				.profile
					margin-right: 20px
			width: 100vw
			padding: 15px
			.profile
				border-radius: 50%
				overflow: hidden
				border: 5px solid $gray
				background: $gray
				@extend .sh-h
				max-width: 600px
				img
					width: 100%
			.info
				@extend .flx.grw
				h1
					font-size: 4rem
					@extend .fw400
				h3
					font-size: 2rem
					@extend .fw300
				.off
					font-size: 1.2rem
					margin: 10px
					color: rgba(0,0,0,0.4)
	a
		position: absolute
		top: 50%
		font-size: 2rem
		left: 15px
		z-index: 5
		&.right
			right: 15px
			left: auto
#gallery
	h1 
		font-size: 2.5rem
		text-shadow: 0px 16px 36px rgba(0,0,0,0.12)
		margin-bottom: 0.5em
		.fa
			color: $gray

	@extend .flx
	justify-content: space-around
	align-items: center
	.outter
		width: 100%
		max-width: 640px
		flex-grow: 1
		height: 100%
		overflow-x: scroll
		overflow-y: hidden
		.frame
			position: relative
			height: 100%
			width: 800%
			iframe
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
	.s4mo
		font-weight: 300
		margin-bottom: 10px
		animation: scrollme 1.4s infinite 
		.fa
			margin-left: 5px

	.social
		width: 100%
		max-width: 640px
		display: flex
		justify-content: space-around
		width: 100%
		font-size: 3em
		margin-bottom: 20px
		text-shadow: 0px 16px 38px $shadow
		a
			color: $orange

#contact
	display: flex
	flex-direction: column
	#map
		height: 50%
		flex-grow: 1
		z-index: 3
		@extend .sh-h
		border: 1px solid $gray
	.information
		background: $gray
		flex-grow: 1
		padding: 10px
		@extend .sh-h
		@extend .flx
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		margin-top: 10px
		div
			// margin-bottom: 

			span
				font-weight: 300
				display: block
				margin-bottom: 5px
				&.fa
					display: inline-block
					margin-left: 5px
					color: $orange



	

@keyframes bounce
	10%
		transform: rotate(-10deg)
	40%
		transform: translateY(0px)
	50%
		transform: translateY(-25px)
	70%
		transform: translateY(0px)
@keyframes scrollme

	40%
		transform: translateX(0px)
	50%
		transform: translateX(10px)
	70%
		transform: translateX(0px)



